@import url('https://fonts.googleapis.com/css2?family=Playwrite+CL:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
}
body{
  font-family: "Poppins", sans-serif;
  background-image: repeating-radial-gradient(circle at center center, transparent 0px, transparent 2px,rgba(69,34,34, 0.04) 2px, rgba(69,34,34, 0.04) 5px,transparent 5px, transparent 9px,rgba(69,34,34, 0.04) 9px, rgba(69,34,34, 0.04) 12px),repeating-radial-gradient(circle at center center, rgb(255,255,255) 0px, rgb(255,255,255) 4px,rgb(255,255,255) 4px, rgb(255,255,255) 14px,rgb(255,255,255) 14px, rgb(255,255,255) 27px,rgb(255,255,255) 27px, rgb(255,255,255) 30px); background-size: 62px 62px;
}
::-webkit-scrollbar {
  width: 4px;
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius:0;
  background: orange;
}